NEXT_PUBLIC_SUPABASE_URL=https://mwzgilmgrxkzgonluqde.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13emdpbG1ncnhremdvbmx1cWRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNTk5MDAsImV4cCI6MjA4OTkzNTkwMH0.JZmhnTQQtEdCRpiAlIJ3WrS669-R1Ye4EV32G3pH4bk
