# dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# production
/build

# env files (contains secrets)
.env.local
.env*.local

# vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
